# Core Flask dependencies
Flask==2.0.0
Flask-SQLAlchemy==2.5.0
Flask-Cors==3.0.8

# Database
SQLAlchemy==1.4.41

# Authentication
python-jose[cryptography]==3.3.0

# Utilities
Click==7.1.2
Jinja2==3.0.0
MarkupSafe==2.0.1
Werkzeug==2.0.0
itsdangerous==2.0.1

